<ion-segment [scrollable]="true" value="heart">
 
  <ion-segment-button value="general" (click)="general()">
     <ion-label>General</ion-label>
  </ion-segment-button>

  <ion-segment-button value="business" (click)="business()">
    <ion-label>Business</ion-label>
  </ion-segment-button>

  <ion-segment-button value="technology"(click)="technology()">
    <ion-label>Technology</ion-label>
  </ion-segment-button>

  <ion-segment-button value="science" (click)="science()">
    <ion-label>Science</ion-label>
  </ion-segment-button>

  <ion-segment-button value="sport" (click)="sport()">
    <ion-label>Sport</ion-label>
  </ion-segment-button>
</ion-segment>
